<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> <!--bootstrap.js의 경우 제이쿼리가 꼭 있어야함. 제어쿼리에 의존적-->

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>




